*{
      margin:0px;
      }
      @keyframes example 
    {
      from {background-color: #e3fcfc;}
        to {background-color: #cad1c5;}
    }

    body{
      animation-name: example;
      animation-duration: 6s;
      animation-delay: 1s;

      /*background-image: url("idk3.jpg");
      /ackground-color:#e3fcfc;
      /*width:720px;height:720px;*/
    }
    h2{
      font-family: "Futura";
      color: #1a0108;
      background-color: #b8c1c2;
      text-align: center;
      width:28.125em ;
      margin:.625em;
      padding: .625em;
      border:.3125em solid gainsboro;
      margin-left:18%;
      margin-top: 2%;
    }
    .loginform{
      margin:5%; background-image: url("images/x.jpg");
    }
    form{
      margin-left:33%;
    }